@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
/*============Predefined Classes==============*/
.no-padding{
  padding: 0px;
}
.no-padding-left{
  padding-left: 0px;
}
.no-padding-right{
  padding-right: 0px;
}
.no-margin{
  margin: 0px;
}
.mt-0{
  margin-top: 0px; 
}
.mt-10{
  margin-top: 10px; 
}
.mt-15{
  margin-top: 15px; 
}
.mt-20{
  margin-top: 20px; 
}
.mb-0{
  margin-bottom: 0px; 
}
.mb-10{
  margin-bottom: 10px; 
}
.mb-15{
  margin-bottom: 15px; 
}
.mb-20{
  margin-bottom: 20px; 
}
.p-10{
  padding: 10px;
}
.pt-10{
  padding-top: 10px;
}
.pb-10{
  padding-bottom: 10px;
}
.pl-10{
  padding-left: 10px;
}
.pr-10{
  padding-right: 10px; 
}
.p-15{
  padding: 15px;
}
.pt-15{
  padding-top: 15px;
}
.pb-15{
  padding-bottom: 15px;
}
.pl-15{
  padding-left: 15px;
}
.pr-15{
  padding-right: 15px; 
}
.p-20{
  padding: 20px;
}
.pt-20{
  padding-top: 20px;
}
.pb-20{
  padding-bottom: 20px;
}
.pl-20{
  padding-left: 20px;
}
.pr-20{
  padding-right: 20px; 
}
.p-25{
  padding: 25px;
}
.pt-25{
  padding-top: 25px;
}
.pb-25{
  padding-bottom: 25px;
}
.pl-25{
  padding-left: 25px;
}
.pr-25{
  padding-right: 25px; 
}
.list-style-none{
  list-style: none;
  padding-left: 0px;
}
.d-flex{
  display: flex;
}
.flex-row{
  flex-flow: row;
}
.flex-column{
  flex-flow: column;
}
.align-items-center{
  align-items: center;
}
.h-100{
  height: 100%;
}
.card{
  background-color: #fff;
  padding: 5px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
    box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
  border: 1px solid #f9f9f9;
}

/*=========Main theme style===========*/
html,body{
  font-family: 'Montserrat', sans-serif; 
  min-height: 100%;
  background-color: #377dff;
  background-color: #b3c3ce;
  overflow-x: hidden;
}
.theme-header .navbar-nav>li>a{
  color: #344d56;
  font-weight: 600;
  font-size: 17px;
}
.theme-warp{
  max-width: 1000px;
  margin: 50px auto; 
  background-color: #fff;
}
.banner-warp{
  background-image: linear-gradient(0deg, rgba(55, 125, 255, 0.1) 0%, transparent 100%);
  background-repeat: repeat-x;
}
.content-warp .left-block{
  color: #fff;
  background-image: linear-gradient(150deg, #2d1582 0%, #19a0ff 100%);
  background-repeat: repeat-x;
  justify-content: center;
}
.content-warp .form-block h1{
  font-size: 17px;
  color: #1b66c3;
  font-weight: 600;
}
.theme-form .form-control{
  height: 40px;
  background-color: #f5f5f5;
}
.theme-form .form-label{
  font-weight: 600;
  font-size: 11px;
}
.content-warp .list-view-block{
  padding: 15px;
  padding-top: 30px;
  height: 100%;
  background-color: #eee;
}
.content-warp .list-view-block li{
  padding: 0px
}
.content-warp .list-view-block li a{
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding: 10px 10px 10px 25px;
  position: relative;
  display: block;
  font-size: 14px;
}
.content-warp .list-view-block li a img{
  position: absolute;
  left: 5px;
  width: 12px;
  top: 15px;
}
.content-warp .list-view-block h4{
  margin-bottom: 20px;
}


/*============Media Query ============*/
@media(min-width: 768px){
  .theme-header .navbar-nav{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}